@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

body{
    
    background-color: rgb(0, 0, 0);
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

#titulo{
    color:white;
    font-size: 38px;
    text-align: center;
}

#titulo span{
    color:rgb(5, 223, 5)
}
.ingles{
    display: none;
}



/*ESTILO DO CABEÇALHO*/



header{
    padding: 120px, 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color:rgb(102, 102, 102);
    text-decoration: none;  
    display: inline-block;
    transition: .2;
}

header a:hover{
    color:white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header img{
    height: 150px;
    border: 5px solid white;
    margin: 0px;

}
header .btn-lingua{
    align-items: center;
}
header .btn-lingua span{
    color: white;
    padding: 10px;
    position: relative;
    top: 5px;
}


/*ESTILO DO TOPO DO SITE*/

section.topo-do-site{
    padding: 40px 4%;
}

.topo-do-site .flex{
    align-items : center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site  h1{
    color: white;
    padding: 24px;
    font-size: 42px;
    line-height: 40px;
}
.topo-do-site .txt-top-site h1 span{
color:rgb(5, 223, 5)
}

.topo-do-site .txt-top-site p{
    color: white;
    margin: 40px 4%;
}

section .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(5, 255, 5);
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
}
section .btn-contato button:hover{
    box-shadow: 0px 0px 10px  rgb(0, 255, 0);
    transform: scale(1.05);
}

.topo-do-site .img-top-site img{
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    animation: flutuacao 2s ease-in-out infinite alternate;
    box-shadow: 5px rgb(5, 223, 5);

}

@keyframes flutuacao{
    0%{
        top: 0;
    }
    100%{
        top: 50px;
    }
}


/*ESTILO DA TABELA HORARIA */


body{
    background-color: black;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Wrap{
    display: flex;
    justify-content: center;
}
.wrapper-main{
    margin: 20px;
    width: 1266px;
    align-items: center;
}

table{
    border: 1px solid rgb(5,255,5);
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border-top: hidden;
    box-shadow: 0 0 10px white;
    
}
table tr{
    color: white;
    text-align: justify;
    border-radius: 4px;
}
table tr td{
    border: 1px solid rgb(5,255,5);
    font-size: 14px;
    border-width: 3px;
    padding: 1% 1% 1% 0%;
}
#semana{
    border-left: hidden;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
#tdfazer{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-left: hidden;
    border-right: hidden;
}
#tdfazer span{
    color: rgb(5,255,5);
}
#tdprojetos{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-left: hidden;
    border-right: hidden;
    border: hidden;
}

table .dias-de-trablho p{
    text-align: center;
}
table .ingles{
    border: hidden;
}

/*ESTILO DO SOBRE*/

section.Sobre{
    padding: 40px 4%;
    margin-top: 90px;
}

section.Sobre .flex{
    align-items: center;
    gap: 60px;
}

.Sobre .txt-sobre{
    color: white;
}

.Sobre .txt-sobre h2{
    font-size: 50px;
    line-height: 50 px;
}

.Sobre .txt-sobre h2 span{
    color:rgb(5, 223, 5);
    display: block;
}

.Sobre .txt-sobre p{
    margin-top: 40px;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 40px;
    border: none;
    background-color: rgb(5, 255, 5);
    transition: 1.5s;
    margin-right: 15px;
    font-size: 20px;

}

.Sobre .txt-sobre .btn-social button:hover{
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.473);
    cursor: pointer;
    transform: scaleX(1.05);
}


/*ESTILO DO PORTIFOLIO*/


section.portifolio{
    padding: 40px 4%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.267);
}

section.portifolio .flex{
    gap: 60px;
    margin-top: 60px;
}

.img-port{
    width: 460px;
    height: 460px;
    background-color: rgb(5, 223, 5);
    background-size:contain;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover{
    opacity: 1;
}
.btn{
            position: absolute;
            bottom: 20px; /* distância do botão em relação ao fundo */
            left: 52%; /* centraliza horizontalmente */
            transform: translateX(-50%);
            width: 120px; /* largura do botão */
            height: 40px; /* altura do botão */
            border-radius: 20px; /* borda arredondada */
            border: none;
            background-color: rgb(5, 255, 5);
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none; /* remove sublinhado de link */
}



/* ESTILO DA LINGUA */
header .btn-lingua .check:checked:before .en{
    color: rgb(5, 223, 5);
}
.check{
    position: relative;
    width: 50px;
    border: 0;
}
.check::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: rgb(40, 40, 40);
    border-radius: 25px;
}
.check:checked::before{
    background-color: rgb(5, 255, 5);
}
.check::after{
    content: "";
    position: absolute;
    left: 0px;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 25px;
    transition: 0.15s;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    align-items: center;
}
.check:checked::after{
    left: 25px;
    border: 2px solid rgb(5, 255, 5);
}
